<ion-content>
  <form [formGroup]="loginForm">

    <ion-item>
      <ion-label position="stacked">Rut</ion-label>
      <ion-icon name="person"></ion-icon>
      <ion-input formControlName="rut" maxLength="12"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-icon name="person"></ion-icon>
      <ion-input formControlName="password" maxLength="12"></ion-input>
    </ion-item>

    <ion-button expand="block" [disabled]="loginForm.invalid">Ingresar</ion-button>
  </form>
</ion-content>